[submodule "bundle/bufferline.nvim"]
	path = bundle/bufferline.nvim
  url = https://github.com/akinsho/bufferline.nvim.git

[submodule "bundle/neo-tree.nvim"]
	path = bundle/neo-tree 
	url = https://github.com/nvim-neo-tree/neo-tree.nvim.git 

[submodule "bundle/nui.nvim"]
  path = bundle/nui.nvim
  url = https://github.com/MunifTanjim/nui.nvim.git

[submodule "bundle/nvim-web-devicons"]
  path = bundle/nvim-web-devicons
  url = https://github.com/nvim-tree/nvim-web-devicons.git

[submodule "bundle/plenary.nvim"]
  path = bundle/plenary.nvim
  url = https://github.com/nvim-lua/plenary.nvim.git
